#container {
	height: 80%;
	width: 80%;
	border-radius: 3px;
	padding: 5px;
	margin: 5px;
	text-align: center;
	background-color: #4682B4;
}


#wordContainer a {
	font-family: Impact, Charcoal, sans-serif;
	color: #000000;
	position: relative;
	padding: 5px;
	cursor: pointer;
	border-radius: 2px;
	margin: 3px;
	font-size: 1.6em;
	background-color: #F8F8FF;
}

#wordContainer a:hover {
	color: #808080;


}